@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;

    /* Glassy effect */
    --glass-bg-color: rgba(255, 255, 255, 0.1); /* Adjust opacity as needed */
    --glass-border-color: rgba(255, 255, 255, 0.2); /* Adjust for border */
    --glass-blur: blur(10px); /* Adjust blur as needed */

    /* Dark theme colors */
    --dark-background: hsl(240, 10%, 15%);
    --dark-foreground: hsl(0, 0%, 98%);

    /* Additional colors for charts if needed */
    /* Add your chart colors here */
  }

  .dark {
    background-color: var(--dark-background);
    color: var(--dark-foreground);
  }

  .glass {
    background-color: var(--glass-bg-color);
    border-radius: var(--radius);
    border: solid var(--glass-border-color);
    backdrop-filter: var(--glass-blur);
    box-shadow: rgba(0, 0, 0, 0.1) -2px -2px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground dark:bg-dark-background dark:text-dark-foreground;
  }
}

@layer utilities {
  .bg-custom-black {
    background-color: #171717;
  }
  .dark\:bg-custom-black {
    background-color: #0d0d0d; /* Example dark mode color */
  }

  /* Custom Background Colors */
  .bg-dark-background {
    background-color: hsl(240, 10%, 15%);
  }

  /* Custom Text Colors */
  .text-dark-foreground {
    color: hsl(0, 0%, 98%);
  }

  /* Additional Custom Colors */
  .bg-custom-black {
    background-color: #171717;
  }
  .bg-custom-black-1 {
    background-color: #040404;
  }
  .bg-custom-black-2 {
    background-color: #141414;
  }
  .bg-custom-black-3 {
    background-color: #343434;
  }
  .bg-custom-black-4 {
    background-color: #242424;
  }
  .bg-custom-black-5 {
    background-color: #2c2c2c;
  }
  .bg-custom-black-6 {
    background-color: #1c1c1c;
  }

  .text-custom-gray-1 {
    color: #8d8d8d;
  }
  .text-custom-gray-2 {
    color: #646464;
  }
  .text-custom-gray-3 {
    color: #5c5c5c;
  }
  .text-custom-gray-4 {
    color: #474747;
  }
}
